DATA_FROM=LOCAL_DB
AWS_LIVE_ENABLED=false
AWS_EC2_METADATA_DISABLED=true

POSTGRES_USER=costwatch
POSTGRES_PASSWORD=
POSTGRES_DB=costwatch

AWS_REGION=eu-west-3
EC2_REGIONS=eu-west-3,us-east-1

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

INGEST_RI=true
INGEST_INCLUDE_REGION=false
INGEST_LAG_DAYS=2
INGEST_OVERLAP_DAYS=1
INGEST_BOOTSTRAP_DAYS=30
INGEST_SP_CACHE_WARM=true

SP_CACHE_ENABLED=true
SP_COVERAGE_CACHE_TTL_SECONDS=21600
SP_UTILIZATION_CACHE_TTL_SECONDS=21600
SP_INVENTORY_CACHE_TTL_SECONDS=21600

INGEST_AUTO_AT_UTC=03:15
INGEST_AUTO_RUN_ON_START=true
INGEST_AUTO_RETRY_MINUTES=30

EC2_SNAPSHOT_REGIONS=eu-west-3
EC2_SNAPSHOT_MINUTE=5
EC2_SNAPSHOT_RUN_ON_START=true
EC2_SNAPSHOT_RETRY_MINUTES=10

INSTANCE_SCHEDULER_REGION=eu-west-3
INSTANCE_SCHEDULER_TABLE=
INSTANCE_SCHEDULER_ACCOUNT_ID=
INSTANCE_SCHEDULER_ACCOUNT_ALIAS=
INSTANCE_SCHEDULER_SHARED_ACCOUNT_ID=
INSTANCE_SCHEDULER_SHARED_ACCOUNT_ALIAS=
INSTANCE_SCHEDULER_ACCESS_KEY_ID=
INSTANCE_SCHEDULER_SECRET_ACCESS_KEY=
INSTANCE_SCHEDULER_SESSION_TOKEN=
